*, *::before, *::after{
    box-sizing: border-box;
}

.section-event-container{
    max-width: 1235px;
    margin: 0 auto;
}

.a11y-hidden{
    position: absolute;
    width: 1px;             
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0,0,0,0);
    clip-path: polygon(0 0, 0 0, 0 0);
}

/* ----- EVENT ----- */

.section-event{
    position: relative;
    margin-bottom: 30px;
}

.event-heading, .discount-heading{
    font-size: 1.6rem;
    margin-bottom: 22px;
}

.event-container li{
    width: 19%;
    float: left;
    margin: 1px;
}

.event-container li a{
    text-decoration: none;
    display: block;
}

.cont-disc{
    background-color: #434343;
    padding: 20px 10px;
    width: 100%;
    margin-top: -5px;
}

.cont-disc h3{
    padding-top: 5px;
    height: 20px;
    color:white;
    white-space: nowrap;      
    overflow: hidden;     
    text-overflow: ellipsis; 
}

.cont-disc p{
    color: #7ed0e0;
    line-height: 150%;
    font-weight: 800;
    white-space: nowrap;        
    overflow: hidden;           
    text-overflow: ellipsis;    
}

.event-disc{
    position: relative;
}

.event-container li:hover .cont-disc h3, .event-container li:hover .cont-disc p, .discount-container li:hover .cont-disc h3, .discount-container li:hover .cont-disc p{
    text-decoration: underline;    
}

.event-container li img{
    width: 100%;
}

.top-arrow{
    background-image: url('https://www.koreanair.com/etc/clientlibs/koreanair/images/components/specialofferscarousel/caption-arrow.png');
    background-color: rgba(0,0,0, 0);
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;
    width: 37px;
    height: 93px;
    left: 50%;
    margin-left: -18px;
    bottom: -7px;    
}

.event-disc p{
    font-size: 0.9rem;
}


.more-view{
    position: absolute;
    top: 6px;
    left: 185px;
    color: #186686;
    background-image: url('https://www.koreanair.com/etc/clientlibs/koreanair/images/components/discount-ticket/iconmore.png');
    background-repeat: no-repeat;
    background-position: right 50%;
    padding: 0px 15px 0px 0px;
}


.section-discount{
    position: relative;
}

.discount-container li{
    position: relative;
    width: 19.3%;
    margin: 1px;
    float: left;
}

.discount-container li a{
    display: block;
}
.discount-container li img{
    width: 100%;
    display: block;
}

.discount-container .long-cont{
    width: 38.9%; 
}


.discount-disc{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color:rgba(0,0,0,0.7);
    padding: 8px;
}

.discount-disc p{
    font-size: 1.1rem;
}

.section-discount .more-view{
    top: 8px;
    left: 151px;
}

.discount-notice{
    padding: 10px 0;
    list-style: disc;
    list-style-position: inside;
    font-size: 0.75rem;
}

.discount-notice li{
    padding: 3px 0;
}

.discount-notice em{
    font-weight: 600;
}
