/* 클래스 앞에 section 필요 없음 event보다 자세한 클래스 이름이 좋을듯 */
section.event {
    background: url(https://www.koreanair.com/content/dam/koreanair/Global/backgrounds/offers_promotion/promotion-detail-view-bg.jpg) no-repeat;
    background-size: cover;
}

.wrapper {
    background: url(https://www.koreanair.com/etc/clientlibs/koreanair/images/components/marquee/black-blue-gradient.png) no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}
.wrapper .inner {
    max-width: 1300px;
    margin: 0 auto;
    padding: 80px 50px;
    min-height: 1000px;
}
.event-title {
    font-size: 3.3rem;
    color: #fff;
}

.event-detail {
    position: relative;
    margin-top: 70px;
}
.event-detail li {
    float: left;
}
/* a. 말고 그냥 event-tab으로 */
.event-detail li a.event-tab{
    background-color: #f4f4f4;
    display: block;
    padding: 20px 40px;
    border: 1px solid #000;
}



.event-detail li h3{
    font-size: 1.1rem;
}
/* li.on이라고 쓰지말고 좀더 구체적인 클래스 이름 정해서 사용하는게 좋을듯 */
.event-detail li.on h3{
    color: #fff;
    text-decoration: underline;
}
/*li.on말고.on, a.event-tab 말고 .event-tab */
.event-detail li.on a.event-tab{
    background-color: #434343;
}

.event-end, .event-winners {
    display: none;
}

.event-detail .on .event-ing {
    display: block;
}

.event-ing {
    display: none;
    position: absolute;
    background-color: #fff;
    border-top: 3px solid #333;
    padding: 3%;
    max-width: 1300px;
}
.event-ing li {
    float: left;
    width: 25%;
    padding: 2%;
}
.event-ing li:hover a h4, .event-ing li:hover a span{
    text-decoration: underline;
}
.event-ing li img {
    width: 100%;
    margin-bottom: 10px;
}
/* 이미지와 문장 사이에 여백 줘야함 */
.event-ing h4 {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.event-ing span {
    font-size: 1rem;
    color: #666666;
    /* font-weight: 600; */
}