@charset "utf-8";

/* BASIC */

section .inner {
    max-width: 1172px;
    margin: 0 auto;
}
/* ----- HEADER ----- */

.siteutil{
  padding: 0 15px;
  background: #434343;
  color: white;
  font-size: 0.7rem;
}
.region{
  float: left;
}

.region-list{
  display: inline-block;
  padding-right: 5px;
}
.region-lang-list, .region-lang-list li{
  display: inline-block;
}
.region-sel-btn {
  background: url(https://www.koreanair.com/etc/clientlibs/koreanair/images/btn-regionSelect.png) no-repeat;
  background-position: 90% 50%;
  padding: 10px 25px 10px 0;
  cursor: pointer;
  color: white;
  border: 0;
}
.region-current-country:nth-child(1)::after{
  content: "|";
  padding: 0 7px 0 7px;
}
.region-current-lang{
  text-decoration: underline;
}
.lang{
  padding: 7px;
}
/* member list */
.member{
  float: right;
}
.member-list{
  float: left;
  line-height: 35px;
}
.member-list li{
  display: inline-block;
     
}
.member-list li a{
  padding: 7px;
  letter-spacing: 2px;
}
.member-list li:nth-child(n+1)::after{
  content: "|";
  padding-left: 3px;
}
.member-list li:nth-child(4)::after{
  content: "";
}
/* member-search */
.member-search{
  float: right;
  position: relative;
}
.member-input-search{
  width: 190px;
  height: 28px;
  margin: 4px 0;
  font-size: 12px;
  padding: .7rem;
  border: 0;
}
.member-input-search:focus{
  width: 270px;
}

.member-search-btn{
  cursor: pointer;
  width: 18px;
  height: 18px;
  position: absolute;
  background: url(https://www.koreanair.com/etc/clientlibs/koreanair/images/icon_n_search.png) no-repeat;
  top: 50%;
  margin-top: -9px;
  right: 6px;
  background-position: 0 0;
  border: 0;
  padding: 0;
}


/* MAIN MENU SECTION */
.menu-sec{ 
  border-bottom: 1px solid #ccc;
  padding: 0 15px;
}

.logo{
  float: left;
  margin: 13px 0;
  display: block;
  width: 215px;
  height: 33px;
  position: relative;
  background: url(https://www.koreanair.com/etc/clientlibs/koreanair/images/components/bookingbar/top-nav-koreanair.png) no-repeat;
}

.logo-koreanair {
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 180px;
}
.logo-skyteam{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: block;
  width: 32px;
}
.main-menu{
  width: 630px;
  float: right;
  height: 38px;
  padding: 11px 0;
  position: relative;
}
.main-menu-list{
 display: flex;
 justify-content: space-between;
 font-size: 1.2rem;
 font-weight: 400;
}

.menu-book-btn, .menu-skypass-btn, .menu-service-btn, .menu-promo-btn{
  box-sizing: border-box;
  padding: 10px 0 10px 40px;
  display: block;
  background-position: 2px 50%;
  background-repeat: no-repeat;
}
.menu-book-btn:hover, .menu-skypass-btn:hover, .menu-service-btn:hover, .menu-promo-btn:hover{
  background-position: 2px 50%;
  background-repeat: no-repeat;
}
.menu-book-btn{
  background-image: url("https://www.koreanair.com/etc/clientlibs/koreanair/images/components/bookingbar/top-nav-topMenu1.png");
}
.menu-book-btn:hover{
  background-image: url("https://www.koreanair.com/etc/clientlibs/koreanair/images/components/bookingbar/top-nav-topMenu1-active.png");
}
.menu-skypass-btn{ 
  background-image: url("https://www.koreanair.com/etc/clientlibs/koreanair/images/components/bookingbar/top-nav-topMenu2.png");
}
.menu-skypass-btn:hover{
  background-image: url("https://www.koreanair.com/etc/clientlibs/koreanair/images/components/bookingbar/top-nav-topMenu2-active.png");
}
.menu-service-btn{
  background-image: url("https://www.koreanair.com/etc/clientlibs/koreanair/images/components/bookingbar/top-nav-topMenu3.png");
}
.menu-service-btn:hover{
  background-image: url("https://www.koreanair.com/etc/clientlibs/koreanair/images/components/bookingbar/top-nav-topMenu3-active.png");
}
.menu-promo-btn{
  background-image: url("https://www.koreanair.com/etc/clientlibs/koreanair/images/components/bookingbar/top-nav-topMenu4.png");
}
.menu-promo-btn:hover{
  background-image: url("https://www.koreanair.com/etc/clientlibs/koreanair/images/components/bookingbar/top-nav-topMenu4-active.png");
}

/* SUB MENU */
.main-menu .main-menu-list .submenu-act {
  display: flex;
  z-index: 99;

}

/* SUB MENU 공통 속성 */
.submenu-tabpanel {
  height: 255px;
  width: 980px;
  background: white;
  flex-flow: column wrap;
  padding: 10px 30px; 
  position: absolute;
  top: 60px; 
  right: 0px;
  font-size: 14px;
  font-weight: 700; 
  border: 1px solid rgb(204,204,204);
  background: white;
  display: none;
}

.submenu-tabpanel>* {
  line-height: 28px;
}

.menu-book-sub>div, .menu-service-sub>div{
  width: 20%;
}

.menu-book-ticket, .menu-book-bonus, .menu-book-gift{
  height: 235px;
}

.menu-book-research{
  height: 135px; 
}

.menu-book-map-heading{
  height: 90px;
}

.menu-book-notice{
  height: 235px;
}


/* 스카이패스 메뉴 */
.menu-skypass-sub>div, .menu-promo-sub>div, .menu-promo-sub>h3{
  width: 25%;
}
.menu-skypass-member, .menu-skypass-mileage, .menu-skypass-bonus, .menu-skypass-nonair{
  height: 235px;
}


/* 서비스 안내 */
.menu-service-boarding, .menu-service-baggage, .menu-service-customer {
  height: 200px;
}

.menu-service-navi, .menu-service-gift, .menu-service-coatroom {
  height: 30px;
}



/* 프로모션 */
.menu-promo-event, .menu-promo-special, .menu-promo-boardpass, .menu-promo-program {
  height: 30px;
}

.menu-promo-special, .menu-promo-program{
  margin-bottom: 170px;
}

/* 서브메뉴 닫기 버튼 */
.menu-sub-close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  background: url("https://www.koreanair.com/etc/clientlibs/koreanair/images/close-button.jpg") no-repeat;  
  border: none;
  cursor: pointer;
}

/* ----- MAIN VISUAL ----- */

/* ----- MAIN EVENT ----- */
main {
    position: relative;
}
.main-event {
    background-image: url('../img/KakaoMou_1280x600.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.main-event .inner {
    padding-top: 80px;
    min-height: 600px;
}
.summary-title {
    font-size: 3rem;
    line-height: 3.8rem;
}
.summary-description {
    font-size: 1.18rem;
    line-height: 2.5rem;
}
.event-btn {
    display: block;
    width: 170px;
    height: 48px;
    border: 2px solid #000;
    border-radius: 3px;
    background-color: transparent;
    margin-top: 7px;
    outline: none;
    padding: 0;
    text-align: center;
    display: block;
    line-height: 48px;
}
.event-btn:focus, .event-btn:hover {
    background-color: rgba(255,255,255,.7);
    border: 2px solid #0180a3;
    color: #0180a3;
}


/* ----- QUICK BOOKING ----- */
.quick-booking-area {
    position: absolute;
    width: 100%;
    height: 240px;
    margin: 0 auto;
    top: 348px;
}

/* 확인 */
.rentacar-detail button.calendar {
  right: 220px;
}

/* BOOKING BUTTON */
.hotel-btn, .rentacar-btn, .airline-ticket-btn, .airlineCheckinBtn {
  width: 14.1%;
  margin-top: 33px;
}
.hotelBtn, .rentACarBtn, .airlineTicketBtn,
.airlineCheckinBtn, .airlineScheduleBtn{
  width: 100%;
  height: 43px;
  font-size: 0.875rem;
  border-radius: 3px;
  border: 1px solid #136186;
  background: #a0e2f4;
  color: #265866;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  padding: 0;
}
/* QUICK BOOKING BOX */
.quick-booking {
    position: relative;
    width: 1172px;
    height: 240px;
    background-color: #186686;
    color: #fff;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
}


/* ----- TAB ----- */

.quick-booking-tab {
    width: 120px;
}
.quick-booking-tab li a {
    display: block;
    width: 120px;
    height: 80px;
    border-bottom: 1px solid #0180a3;
    padding: 19px 0;
    text-align: center;
    outline: none;
}
.quick-booking-tab li:last-of-type a {
    border-bottom: 1px solid transparent;
}
.quick-booking-tab h2 {
    font-size: 0.9rem;
    height: 18px;
    line-height: 18px;
}
/* TAB CLICK */
.on {
    background-color: #0180a3;
}
.detail-view {
    z-index: 99;
}
/* TAB ICON */
.tab-icon {
    background-image: url('../img/quick-v-tab-icon-list.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 20px;
    display: inline-block;
}
.airline-tab .tab-icon {
    background-position: -198px -14px;
}
.airline-tab.on .tab-icon {
    background-position: 2px -14px;
}
.hotel-tab .tab-icon {
    background-position: -198px -84px
}
.hotel-tab.on .tab-icon {
    background-position: 2px -84px;
}
.rentacar-tab .tab-icon {
    background-position: -198px -149px;
}
.rentacar-tab.on .tab-icon {
    background-position: 2px -149px;
}

/* ----- SECTION BOOKING ----- */

.quick-booking section {
    background-color: #0180a3;
    position: absolute;
    left: 120px;
    top: 0;
    width: 1052px;
    height: 240px;
}
section.hotel {
    padding: 40px 25px; 
}
section.rentacar {
    padding: 20px 25px;
}

.airline-ticket-detail>li,
.airline-schedule-detail>li,
.airline-checkin-detail>li,
.hotel-detail>li,
.rentacar-detail>li {
    float: left;
    position: relative;
}
.airline-checkin-detail>li,
.hotel-detail>li,
.rentacar-detail>li {
    margin-right: 9px;
}
li[class$="-departure"], li[class$="-arrival"], li[class$="-date"] {
  width: 33%;
  height: 42px;
}
li[class$="-departure"] button, 
li[class$="-arrival"] button, 
li[class$="-date"] button {
    top: 30%;
}
.airline-checkin-detail li {
  width: 41.3%;
  margin-top: 15px;
}

/* label, 더보기 */
.quick-booking label,.more-opt{
    font-size: 0.75rem;
    display: block;
    margin-bottom: 7px;
}


/* ----- AIRLINE ----- */

.airline-ticket, .airline-checkin, .airline-schedule {
  width: 110px;
  height: 100%;
  float: left;
}
.airline-ticket:hover, .airline-checkin:hover, .airline-schedule:hover {
  outline: 2px solid black;
  outline-offset: -2px;
  cursor: pointer;
}
.airline>.menu-act:hover {
  outline: none;
  cursor: auto;
}
.airline-ticket, .airline-checkin {
  border-right: 1px solid #3e9eb9;
}
.menu-act {
  width: 830px;
}
.menu-act>.form-container {
  display: block;
}
.form-container {
padding: 20px;
position: relative;
display: none;
}
.menu-icon-container {
  text-align: center;
  padding-top: 80px;
  width: 100%;
}
.menu-icon-container>span {
  padding-top: 50px;
}
.menu-icon-container .menu-icon {
  background: url('../img/quick-v-tab-icon-list.png') no-repeat;
  width: 100%;
  height: 30px;
  display: inline-block;
  
}
.airline-ticket .menu-icon {
  background-position: -330px -10px;
}
.airline-checkin .menu-icon {
  background-position: -521px -15px;
}
.airline-schedule .menu-icon {
  background-position: -706px -11px;
}
.menu-act .menu-icon-container {
  display: none;
}


/* ----- 항공권 예매 ----- */

.airline-ticket h3 {
  width: 50px;
  float: left;
  margin-top: 6px;
}
.airline-ticket-form {
  margin-top: 10px;
}
.input-passenger-count {
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border: 0;
}
.airline-ticket-trip-type {
width: 100%;
margin-bottom: 10px;
}
.airline-ticket-trip-type a,
.airline-ticket-trip-type label,
.airline-schedule-trip-type label {
display: inline;
}

.airline-ticket-trip-type label {
margin-right: 5px;
}
.multi-city {
font-size: 0.6rem;
text-decoration: underline;
}
.airline-ticket-trip-type .quick-help {
display: inline-block;
background: url('../img/icon-quick-help.png') no-repeat;
width: 15px;
height: 0;
padding-top: 14px;
margin-left: 3px;
overflow: hidden;
font-size: 1.5rem;
}

.passenger-count-container {
display: flex;
flex-flow: row nowrap;
border-radius: 20px;
width: 110px;
height: 40px;
background-color: #fff;
}
.passenger-count-container input {
margin: 0 1px;
}
.airline-ticket-passenger, 
.airline-ticket-cabin-class, 
.airline-ticket-option {
  margin-top: 15px;
margin-right: 10px;
}
.airline-ticket-cabin-class,
.airline-ticket-option {
width: 15%;
}
.inc-btn, .dec-btn {
padding: 40px 0 0 0;
width: 35px;
background: url('../img/btn-booking-both.png') no-repeat 11px 14px #f4f4f4;
}
.dec-btn {
background-position: 11px 18px;
border-radius: 3px 0 0 3px;
}
.inc-btn {
background-position: 11px -20px;
border-radius: 0 3px 3px 0;
}
.multi-city-more-info, .child-more-info, .infant-more-info, .option-more-info, .number-more-info {
position: absolute;
top: -2px;
left: 24px;
vertical-align: middle;
background: url('../img/icon-quick-help.png') no-repeat;
}
.multi-city-more-info {
  top: 3px;
  left: 133px;
}
.option-more-info {
left: 50px;
}
/* ----- 체크인 ----- */
.airline-checkin-form {
position: relative;
}
/* 항공권 체크인 주의사항 */
.airline-checkin-detail .validation-check-container {
  width: 100%;
margin-top: 5px;
}
.airline-checkin-detail .validation-check-container *{
  display: inline-block;
}
.airline-checkin-detail .validation-check-container input {
margin: 3px;
width: 15px;
height: 15px;
}
.airline-checkin-detail .validation-check-container label {
margin: 0;
font-weight: bold;
}
.airline-checkin-detail>li:first-child {
position: relative;
}
.number-more-info {
top: -2px;
left: 143px;
}


/* ----- 출도착 및 스케줄 ----- */

.airline-schedule h3 {
  width: 100px;
  float: left;
  margin-top: 6px;
}
.airline-schedule-trip-type {
margin: 10px 0;
font-size: 0;
}
.airline-schedule-trip-type label {
padding: 0;
margin-right: 15px;
}
.airline-schedule-notice ul{
list-style: initial; 
padding-left: 20px;
margin-top: 15px;
width: 500px;
}
.airline-schedule-notice li {
margin: 5px 0;
font-size: 0.5rem;
}
.airline-schedule-notice em {
font-style: normal;
color: #fef78c;
font-weight: bold;
}
.airline-schedule-notice a {
text-decoration: underline;
}
.airline-schedule-detail>li:nth-child(-n+3) {
width: 28%;
}
.airline-schedule-arrival {
margin-right: 8px;
}
.airlineScheduleBtn, .airlineCheckinBtn, .airlineTicketBtn {
  position: absolute;
  width: 110px;
}
.airlineTicketBtn {
  top: 0px;
  right: -5px;
}
.airlineCheckinBtn {
  top: -116px;
  right: -460px;
}
.airlineScheduleBtn {
  top: -43px;
  right: -295px;
}


/* ----- HOTEL ----- */

.hotel-destination {
    width: 50%;
}
.hotel-checkin,.hotel-checkout {
    width: 20%;
}
.hotel-rooms-guests {
    width: 35%;
    margin-top: 15px;
}
.hotel-rooms-guests #roomsGuests {
  width: 100%;
}
.hotel-destination::placeholder{
    color: #767676;
}
.hotel-stay-nights {
    width: 40px;
    height: 40px;
    display: block;
    line-height: 40px;
    text-align: center;
    background-color: #27748b;
    border-left: 1px solid #216477;
    border-top: 1px solid #216477;
    border-radius: 3px;
    font-size: 0.875rem;
    margin-top: 19px;
    margin-left: 8px;
}
.more-opt {
    margin-top: 10px;
    margin-bottom: 0;
    display: block;
    text-decoration: underline;
}


/* ----- RENT A CAR ----- */

.location {
    margin-bottom: 15px;
}

.rentacar-pickup,.rentacar-dropoff {
    width: 42%;
}
.rentacar-skypass {
    width: 13%;
}
.rentacar-rental-day,.rentacar-return-day {
    width: 42%;
    margin-top: 15px;
}
.rentacar-rental-day input.input--text,.rentacar-return-day input.input--text{
    width: 50%;
}
.rentacar-rental-day .input--select,.rentacar-return-day .input--select{
    width: 24%;
}
.rentacar-rental-day input,.rentacar-rentacar-return-day input {
    width: 88%;
}
.rentacar-btn {
    width: 13%;
}
.check-another-place {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 90;
    width: 190px;
}
.check-another-place input[type="checkbox"] {
    width: 20px;
    height: 20px;
    float: left;
    border: 1px solid #000;
    margin-top: -3px;
}
.rentacar-dropoff::after {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(18,129,162,0.5);
}


/* ----- EVENT ----- */

.section-event-container{
  max-width: 1172px;
  margin: 70px auto;
}
.section-event{
  position: relative;
  margin-bottom: 30px;
}
.event-heading, .discount-heading{
  font-size: 1.6rem;
  margin-bottom: 22px;
}
.event-container {
  width: 100%;
}
.event-container li{
  width: calc((100% - 10px)/5);
  float: left;
  margin: 1px;
}
.event-container li:hover .cont-disc h3, .event-container li:hover .cont-disc p, .discount-container li:hover .cont-disc h3, .discount-container li:hover .cont-disc p{
  text-decoration: underline;    
}
.event-container li img{
  width: 100%;
}
.event-container li a{
  text-decoration: none;
  display: block;
}
.cont-disc{
  background-color: #434343;
  padding: 20px 10px;
  width: 100%;
  margin-top: -5px;
}
.cont-disc h3{
  padding-top: 5px;
  height: 20px;
  color:white;
  white-space: nowrap;      
  overflow: hidden;     
  text-overflow: ellipsis; 
}
.cont-disc p{
  color: #7ed0e0;
  line-height: 150%;
  font-weight: 800;
  white-space: nowrap;        
  overflow: hidden;           
  text-overflow: ellipsis;    
}
.event-disc{
  position: relative;
}
.event-disc p{
  font-size: 0.9rem;
}
.top-arrow{
  background-image: url('https://www.koreanair.com/etc/clientlibs/koreanair/images/components/specialofferscarousel/caption-arrow.png');
  background-color: rgba(0,0,0, 0);
  background-repeat: no-repeat;
  position: absolute;
  display: inline-block;
  width: 38px;
  height: 12px;
  left: 50%;
  margin-left: -19px;
  top: -11px;   
}
.more-view{
  position: absolute;
  top: 6px;
  left: 185px;
  color: #186686;
  background-image: url('https://www.koreanair.com/etc/clientlibs/koreanair/images/components/discount-ticket/iconmore.png');
  background-position: right 35%;
  background-repeat: no-repeat;
  padding: 0px 15px 0px 0px;
}
.section-discount{
  position: relative;
}
.discount-container li{
  position: relative;
  width: calc((100% - 10px)/5);
  margin: 1px;
  float: left;
}
.discount-container li a{
  display: block;
}
.discount-container li img{
  width: 100%;
  display: block;
}
.discount-container .long-cont{
  width: calc((100% - 10px)/5*2 + 2px);
}
.discount-disc{
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color:rgba(0,0,0,0.7);
  padding: 8px;
}
.discount-disc p{
  font-size: 1.1rem;
}
.section-discount .more-view{
  top: 8px;
  left: 151px;
}
.discount-notice{
  padding: 10px 0;
  list-style: disc;
  list-style-position: inside;
  font-size: 0.75rem;
}
.discount-notice li{
  padding: 3px 0;
}
.discount-notice em{
  font-weight: 600;
}

/* FOOTER */

footer {
  min-height: 400px;
  background: #2E4964;
  color: white;
  border-top: 1px solid #434343;
}
footer .inner {
  max-width: 1172px;
  margin: 0 auto;
  border: none;

/* padding-left: 40px; */
}
.footer-notice{
  width: 70%;
  /* height: 300px; */
  line-height: 22px;
  /* margin-left: 150px; */
  padding-top: 55px;
  margin: 0 auto;
}
.footer-notice .footer-notice-list{
  font-size: 0.8rem;
  width: 25%;
  float: left;
}
.footer-notice h2{
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.footer-notice ul{
  border-left: 1px solid;
  padding-left: 15px;
}
.footer-notice div:nth-child(2) img{
  width: 27px;
  height: 20px;
  cursor: pointer;
  vertical-align: middle;
  padding-left: 7px;
}
.sns-info{
  margin-left: 150px;
  margin-top: 35px;
  line-height: 20px;
  width: 850px;
  display: flex;
  justify-content: space-between;
}
.company-information{
  display: block;
  font-size: 11px;
  width: 535px;
}
.sns-area{
  font-size: 5px;
  width: 225px;
  display: inline-block;
  margin-left:15px;
}
.sns-area li{
  display: inline-block;
  width: 27px;
  height: 28px;
  margin-right:7px;
}
.sns-area li a{
  width: 28px;
  height: 0;
  display: inline-block;
  padding-top: 28px;
  overflow: hidden;
}
.facebook{
  background: url(https://www.koreanair.com/etc/clientlibs/koreanair/images/components/footer/icon-fb.png) no-repeat;
}
.twitter{
  background: url(https://www.koreanair.com/etc/clientlibs/koreanair/images/components/footer/icon-tw.png)no-repeat;
}
.instagram{
  background: url(https://www.koreanair.com/etc/clientlibs/koreanair/images/components/footer/icon-inst.png) no-repeat;
}
.youtube{
  background: url(https://www.koreanair.com/etc/clientlibs/koreanair/images/components/footer/icon-youtube.png) no-repeat;
}
.blog-korea{
  background: url(https://www.koreanair.com/etc/clientlibs/koreanair/images/components/footer/icon-blog.png) no-repeat;
}