@charset "utf-8";

/* 기본 설정 */
a {
    text-decoration: none;
    color: inherit;
}
html {
}
body {
}
section .inner {
    max-width: 1172px;
    margin: 0 auto;
}

.body-container {

}

/* INPUT TEXT */

.input--text {
    height: 40px;
    padding: 1px 5px;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    font-size: 16px;
    background-color: #fff;
    vertical-align: middle;
}
.input--text input:focus,select:focus,button:focus {
    outline: unset;
}

/* header */

header {
    width: 100%;
    height: 95px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
}

.header-top {
    height: 35px;
    background-color: #333;
}
.header-btm {

}

/* MAIN VISUAL */
/* MAIN EVENT */

.main-event {
    background-image: url('../img/KakaoMou_1280x600.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-event .inner {
    margin-top: 80px;
    min-height: 600px;
}

.summary-title {
    font-size: 3rem;
    line-height: 3.8rem;
}
.summary-description {
    font-size: 1.18rem;
    line-height: 2.5rem;
}
.event-btn {
    display: block;
    width: 170px;
    height: 48px;
    border: 2px solid #000;
    border-radius: 3px;
    background-color: transparent;
    margin-top: 7px;
}
.event-btn:hover {
    background-color: #fff;
}
.event-more {
    text-align: center;
    display: block;
    line-height: 48px;
}

/* QUICK BOOKING */
.quick-booking {
    position: relative;
    max-width: 1172px;
    margin: 0 auto;
}

.quick-booking-list {
    position: absolute;
    max-width: 1052px;
    height: 240px;
    background-color: #186686;
    bottom: 10px;
    z-index: 98;
    color: #fff;
}

.booking-tab {
    width: 120px;
    height: 80px;
    text-align: center;
}
.on {
    background-color: #0180a3;
}
.on .booking-detail {
    display: block;
    z-index: 99;
}
.booking-tab a {
    display: block;
    width: 100%;
    height: 100%;
}

.booking-tab h3 {
    font-size: 0.9rem;
}

.booking-tab .icon {
    background-image: url('../img/quick-v-tab-icon-list.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 20px;
    display: inline-block;
    margin-top: 19px;
}

.airline-ticket .icon {
    background-position: -198px -14px;
}
.airline-ticket.on .icon {
    background-position: 2px -14px;
}

.hotel .icon {
    background-position: -198px -84px
}
.hotel.on .icon {
    background-position: 2px -84px;
}

.rentacar .icon {
    background-position: -198px -149px;
}
.rentacar.on .icon {
    background-position: 2px -149px;
}

.booking-detail {
    background-color: #0180a3;
    position: absolute;
    left: 120px;
    top: 0;
    width: 1052px;
    height: 240px;
    text-align: left;
}

.hotel-booking-form {
    padding: 40px 25px;
}
.hotel-booking-form li,.rentacar-form li {
    float: left;
    margin-right: 9px;
}

.quick-booking label,.hotel-booking-form a{
    font-size: 0.75rem;
    display: block;
    margin-bottom: 7px;
}

.quick-booking input, .quick-booking select{
    height: 36px;
    font-size: 0.875rem;
    border: 0;
    padding: 2px 0 2px 7px;
}

.hotel-destination {
    width: 50%;
}
.hotel-destination label {
    
}
.hotel-destination input{
    width: 99%;
}
.hotel-destination::placeholder{
    color: #767676;
}

.hotel-check-in,.hotel-check-out {
    width: 20%;
}
.hotel-check-in input,.hotel-check-out input{
    width: 87%;
}
.hotel-check-in input::placeholder,.hotel-check-out input::placeholder {
    color: #000;
}

button.calendar {
    border: 0;
    width: 18px;
    height: 36px;
    background: url(../img/icon-tripDetails.gif) no-repeat -63px -8px;
    text-indent: -200px;
    overflow: hidden;
    cursor: pointer;
}
button.place {
    border: 0;
    width: 18px;
    height: 36px;
    background: url(../img/icon-tripDetails.gif) no-repeat -18px -10px;
    text-indent: -200px;
    overflow: hidden;
    cursor: pointer;
}

.stay-nights {
    width: 40px;
    height: 40px;
    display: block;
    line-height: 40px;
    text-align: center;
    background-color: #27748b;
    border-left: 1px solid #216477;
    border-top: 1px solid #216477;
    border-radius: 3px;
    font-size: 0.875rem;
    margin-top: 19px;
    margin-left: 8px;
}

.rooms-guests {
    width: 35%;
    margin-top: 15px;
}
.quick-booking select {
    width: 100%;
    

    background: url(../img/select-arrow-fallback-ln.png) no-repeat 100% 40%;  
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.rooms-guests a.opt {
    margin-top: 10px;
    margin-bottom: 0;
    display: block;
    text-decoration: underline;
}
.hotel-book-btn,.rentacar-btn {
    width: 14.1%;
    margin-top: 34px;
}
.hotel-book-btn button, .rentacar-btn button{
    width: 100%;
    height: 40px;
    font-size: 0.875rem;
    border-radius: 3px;
    border: 1px solid #136186;
    background: #a0e2f4;
    color: #265866;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

/* RENT A CAR TAB */
.rentacar-form {
    padding: 10px 15px 0 25px;
}

.location {
    margin: 10px 0px 15px 0px;
    width: 300px;
}
.international,.jeju {
    width: 117px;
    height: 28px;
    float: left;
    background-color: #2c748a;
    border: 0px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    font-size: 0.8rem;
    color: #fff;

}
.international {
    margin-left: 10px;
}
.international::before {
    content: "";
    display: block;
    width: 25px;
    height: 28px;
    background-color: #2c748a;
    border-radius: 30px;
    margin-left: -17px;
    margin-top: -1px;
    float: left;
}
.jeju::after {
    content: "";
    display: block;
    width: 25px;
    height: 28px;
    background-color: #2c748a;
    border-radius: 30px;
    margin-right: -17px;
    margin-top: -1px;
    float: right;
}
.btn-on {
    background: url(../img/icn_check.png) no-repeat 15% 47%;
    background-color: #87c9db;
    color: #032b3c; 
}
.btn-on::before {
    background-color: #87c9db;
}

.place-pick-up,.drop-off-pickup {
    width: 42%;
}
.place-pick-up input,.drop-off-pickup input {
    width: 93%;
}

.drop-off-pickup {
    position: relative;
}
.check-another-place {
    position: absolute;
    width: 100%;
    top: 0;
    right: -240px;
    z-index: 90;
}
.check-another-place input {
    width: 20px;
    height: 20px;
    float: left;
    margin: -3px 1px 0 0;
    border: 1px solid #000;

}
.check-another-place label {

}

.drop-off-pickup::after {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(18,129,162,0.5);
}

.skypass-member {
    width: 13%;
}

.rental-day,.return-day {
    width: 42%;
    margin-top: 15px;
}
.rental-day .input--text,.return-day .input--text {
    display: inline-block;
}
.rental-day .input--text:nth-of-type(1),.return-day .input--text:nth-of-type(1){
    width: 50%;
}
.rental-day .input--text:nth-of-type(n+2),.return-day .input--text:nth-of-type(n+2){
    width: 24%;
}
.rental-day input,.return-day input {
    width: 88%;
}

.rentacar-btn {
    width: 13%;
}