/* 기본 박스 사이징 재설정 (width에 border-width와 padding을 포함하여 계산) */
body *, body *::before, body *::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
/* FLOAT CLEARFIX */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* 숨김 콘텐츠 */ 
.a11y-hidden, legend {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0,0,0,0);
    clip-path: polygon(0 0, 0 0, 0 0);
}


/* 버튼 bg주고 글자날리기 */
.btn-hide {
  display: inline-block;
  margin: 0;
  border: none;
  width: 15px;
  height: 0;
  padding-top: 15px;
  overflow: hidden; 
  vertical-align: middle;
  font-size: 10rem;
}

/* 제목 글자 색깔 조정, 크기 조정 */
.blue-bold-heading{
  color:#186686;
  font-size: 1rem;
  font-weight: bold;
}


/* ----- INPUT SELECT BUTTON MODULE ----- */

/* INPUT TEXT, SELECT style */
.input--text, .input--select{
    height: 42px;
    padding: 1px 10px;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    font-size: 16px;
    background-color: #fff;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 0.8rem;
    border: 0;   
    width: 100%; 
  }
  .input--select {
    background-image: url(../img/select-arrow-fallback-ln.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
  }
  .input--text--left {
    border-radius: 3px 0 0 3px;
  }
  .input--text--center {
    border-radius: 0;
    border-left: 1px solid #999;
  }
  .input--text--right {
    border-radius: 0 3px 3px 0; 
    border-left: 1px solid #999;
  }
  /* input > button icon */
  button.calendar, button.place {
    position: absolute;
    top: 50%;
    right: 10px;
    border: 0;
    width: 20px;
    height: 21px;
    margin-top: -2px;
    text-indent: -200px;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
  }
  button.calendar {
    background: url(../img/icon-tripDetails.gif) no-repeat -61px -15px; 
  }
  button.place {
    background: url(../img/icon-tripDetails.gif) no-repeat -16px -15px;
  }

/* form focus style */

.input--text:focus, .input--select:focus, button:focus{
    box-shadow: 0 0 0 2px #000;
    outline: none;
  }
  /* button tap style */
  .btn-grp {
    font-size: 0;
  }
  .btn-grp button {
    width: 117px;
    height: 28px;
    background-color: #2C748A;
    border: 0px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    font-size: 0.8rem;
    color: #fff;
    padding: 0;
  }
  .btn-grp>button:nth-of-type(1) {
    border-radius: 30px 0px 0px 30px;
  }
  .btn-grp>button:nth-of-type(2) {
    border-radius: 0px 30px 30px 0px;
  }
  .btn-grp .btn-on {
    background: url(../img/icn_check.png) no-repeat 15% 47%;
    background-color: #87C9DB;
    color: #032B3C;
  }